.modal-overlay {

  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 95%;
  max-width: 500px;
  background: white;
  border-radius: 12px;

  padding: 25px;

  animation: popup .25s ease;
}

@keyframes popup {
  from {
    transform: scale(.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal h2 {
  margin-bottom: 20px;
}

.modal label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: bold;
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal small {
  color: red;
}

.modal-buttons {
  margin-top: 25px;

  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  background: #6b7280;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
}

.save-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
}

.cancel-btn:hover {
  background: #4b5563;
}

.save-btn:hover {
  background: #1d4ed8;
}
